@import url('https://fonts.googleapis.com/css?family=Girassol&display=swap');
@import url('https://fonts.googleapis.com/css?family=Changa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quantico&display=swap');

:root{
    --color-bg: #202527;
    --color-bg2: rgb(17, 16, 16);
    --color-text: #87F6FF;
    --color-warning: rgb(214, 39, 39);

    /* --color-bg: #202527;
    --color-bg2: rgb(17, 16, 16);
    --color-text: #FAA613;
    --color-warning: rgb(214, 39, 39); */
}

body{
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: 'Quantico', sans-serif;
    background-image: url('assets/bg3.png');
   
    background-repeat: repeat;

    min-height: 100vh;
    position: relative;
    padding-bottom: 2.5rem;
    
}

.animation-top-bottom-border::before, .animation-top-bottom-border::after{
    box-sizing: border-box;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
}

.animation-top-bottom-border::before{
    border-top: 4px solid var(--color-text);
    border-bottom: 4px solid var(--color-text);
    transform: scale(0, 1);
}

.animation-top-bottom-border::after{
    
    transform: scale(1, 0);
}

.animation-top-bottom-border:hover::before, .animation-top-bottom-border:hover::after {
    transform: scale(1, 1);
    transition: transform 0.2s ease-out;
}

.home-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    
    animation-name: entry;
    animation-timing-function: ease-out;
    animation-duration: 1.75s;
   
}

.home-box{
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 40vmin;
    margin: 20px;
    padding-bottom: 0;
    
    border-radius: 20px/50px;

    overflow: hidden;
    
    user-select: none;
    background: none;
    vertical-align: middle;
    position: relative;
    
    transition: all 0.5s ease-out;
}

.home-box:hover{

    transform: translateY(5px);
    border-radius: 12px;
}



.home-info{
    width: 100%;
    height: 100%;
    padding-top: 10px;
    background-image: linear-gradient(var(--color-bg2), var(--color-bg));
}


.home-name{
    font-size: 45px;
    margin-bottom: 10px;
}

.home-subname{
    font-size: 22px;
    margin-bottom: 20px;
}

.home-photo{
    width: 100%;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    margin: 20px;

    user-select: none;
}

.nav-button{
    border: 2px solid var(--color-text);
    outline: none;
    background-color: transparent;
    color: var(--color-text);

    padding: 8px 16px;

    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-radius 0.1s ease-out;

    font-family: inherit;
    font-size: 20px;
    margin: 4px;
    cursor: pointer;
    border-radius: 10px/30px;

}

.nav-button:hover{
    background-color: var(--color-text);
    color: var(--color-bg);
    border-radius: 30px/10px;
}

.biography-wrapper{
    padding: 30px;

    background-image: linear-gradient(var(--color-bg2), var(--color-bg));
    border-radius: 4px;

    border-radius: 90px/30px;
    
}

.title{
    font-size: 40px;
    margin-bottom: 40px;
}

.subtitle{
    font-size: 16px;

}

.subtitle>a:link{
    text-decoration: underline;
}

.biography-body{
    font-size: 20px;
    width: 80vmin;
    text-align: center;
    
}

.biography-body>a:link{
    text-decoration: underline;
}

.games-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    width: 90vmin;
    background-color: rgba(32, 37, 39, 0.75);

    border-radius: 90px/30px;

}

.game-box{
    display: flex;
    flex-direction: column;
    width: 20vmin;
    background-color: var(--color-bg);
    margin: 16px;
    padding-bottom: 8px;
    overflow: hidden;
    font-size: 20px;
    border: 1px solid var(--color-text);
    border-radius: 100% 0% 100% 0% / 16% 87% 13% 84%;
    transition: all 0.2s ease-in-out, transform 0.5s ease-out;
}

.game-box:hover{
    background-color: var(--color-text);
    color: var(--color-bg);
    transform: translateY(-5px);
}

.game-preview{
    width: 100%;
    margin-bottom: 4px;
    border-bottom: 1px solid var(--color-text);
}

a:link{
    color:inherit;
    text-decoration: none;
    color: var(--color-text);
}

a:visited{
    color:inherit;
    text-decoration: none;
    color: var(--color-text);
}

.fun-wrapper{
    display: flex;
    width: 90vmin;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;

    
    background-color: rgba(32, 37, 39, 0.5);
    padding: 12px;

    border-radius: 90px/30px;


}

.form-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 90vmin;
}

.form-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 16px;
    font-size: 22px;
    
}

.form-item>label{
    user-select: none;
    width: 25%;
    margin: auto;
    
}

.input{
    background-color: var(--color-bg);
    border: 2px solid transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    outline:none;

    transition: all 0.2s ease-in-out;

    padding: 8px 16px;

    font-family: inherit;

    caret-color: var(--color-text);
    color: var(--color-text);
    font-size: 16px;

}

.input:focus, .input:hover{
    border-bottom: 2px solid var(--color-text);
}

.input::placeholder{
    color: var(--color-text);
    opacity: 0.35;
}

#input-name{
    width: 25%;
    min-width: 30vmin;
    margin: auto;
}

#input-email{
    width: 25%;
    min-width: 30vmin;
    margin: auto;
}

#input-message{
    height: 40vmin;
    width: 80%;
}


.form-button{
    width: 80%;
    border-width: 1px;
}

.form-button:hover{
    border-radius: 10px/30px;
    
}

.input-invalid{
    border-color: var(--color-warning);
}

.warning{
    color: var(--color-warning);
    font-size: 12px;
    background-color: var(--color-bg);
    padding: 10px 8px;
    border-radius: 0 0 5px 5px;
    display: none;
    border: 1px solid var(--color-warning);

    
}

.visible{
    display: block;
}

.footer{

    display: flex;
    justify-content: center;
    
    padding-top: 8px;
    border-top: 1px solid var(--color-text);
    margin-top: 12px;
}

.footer>a{
    margin-left: 12px;
    margin-right: 12px;
    font-size: 24px;
    transition: all 0.5s ease-out;
}

.footer>a:hover{
    transform: translateY(-5px);
}

@keyframes entry{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fun-entry{
    from{
       
        opacity: 0;
    }
    to{
       
        opacity: 1;
    }
}
