@import url('https://fonts.googleapis.com/css?family=Girassol&display=swap');
@import url('https://fonts.googleapis.com/css?family=Changa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quantico&display=swap');

:root{
    --color-bg: #202527;
    --color-bg2: rgb(17, 16, 16);
    --color-text: #FAA613;
    --color-warning: rgb(214, 39, 39);
}

body{
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: 'Quantico', sans-serif;
    background-image: url('assets/background.jpg');
    background-attachment: fixed;

    min-height: 100vh;
    position: relative;
    padding-bottom: 2.5rem;
    
}

.home-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    
    animation-name: entry;
    animation-timing-function: ease-out;
    animation-duration: 1.75s;
   
}

.home-box{
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    width: 40vmin;
   
    
    margin: 20px;
    
    padding-bottom: 0;

    border-radius: 90px/60px;

    border: 2px solid transparent;

    overflow: hidden;

    user-select: none;

    transition: all 0.3s cubic-bezier(.08,1,.37,1.75);
}

.home-info{
    width: 100%;
    height: 100%;
    padding-top: 10px;
    background-image: linear-gradient(var(--color-bg2), var(--color-bg));
}

.home-box:hover{
    border: 2px solid var(--color-text);

    border-radius: 90px/30px;
}

.home-name{
    font-size: 45px;
    margin-bottom: 10px;
}

.home-subname{
    font-size: 22px;
    margin-bottom: 20px;
}

.home-photo{
    width: 100%;

}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    margin: 20px;

    user-select: none;

  

}

.nav-button{
    border: 2px solid var(--color-text);
    outline: none;
    background-color: transparent;
    color: var(--color-text);

    padding: 8px 16px;

    transition: color 0.2s ease-in-out, background-color 0.1s ease-in-out;

    font-family: inherit;
    font-size: 20px;
    margin: 4px;
    cursor: pointer;
    border-radius: 10px/30px;

}

.nav-button:hover{
    background-color: var(--color-text);
    color: var(--color-bg);
    border-radius: 30px/10px;
}

.quote{
   
    font-size: 16px;
    margin-top: 32px;
    padding: 10px;

    user-select: none;


}

.biography-wrapper{

    

    padding: 30px;

    background-image: linear-gradient(var(--color-bg2), var(--color-bg));
    border-radius: 4px;

    border-radius: 90px/30px;
    
}

.title{
    font-size: 40px;
    margin-bottom: 40px;
}

.subtitle{
    font-size: 16px;

}

.subtitle>a:link{
    text-decoration: underline;
}

.biography-body{
    font-size: 20px;
    width: 80vmin;
    text-align: center;
    
}

.games-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    width: 90vmin;
    background-color: rgba(32, 37, 39, 0.75);

    border-radius: 90px/30px;

}

.game-box{
    display: flex;
    flex-direction: column;
    width: 20vmin;

    background-color: var(--color-bg);
    margin: 16px;
   
    padding-bottom: 8px;
    
    overflow: hidden;
    font-size: 20px;

    border: 1px solid var(--color-text);

    border-radius: 40px/15px;

    transition: all 0.2s ease-in-out;
}

.game-box:hover{
    background-color: var(--color-text);
    color: var(--color-bg);
}

.game-preview{
    width: 100%;
    margin-bottom: 4px;
    border-bottom: 1px solid var(--color-text);
}

a:link{
    color:inherit;
    text-decoration: none;
    color: var(--color-text);
}

a:visited{
    color:inherit;
    text-decoration: none;
    color: var(--color-text);
}

.gallery-wrapper{
    display: flex;
    width: 90vmin;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;

    
    background-color: rgba(32, 37, 39, 0.5);
    padding: 12px;

    border-radius: 90px/30px;


}

.gallery-item{
    margin-left: 6px;
    margin-right: 6px;

    cursor: pointer;
}

.gallery-image{
    border-radius: 8px;

    transition: all 0.15s ease-in-out;
}

.gallery-entry-animation{
    animation-name: gallery-entry;
    animation-timing-function: ease-in-out;
    animation-duration: 0.2s;
}

#image-center{
    width: 50vmin;

    border-radius: 90px/30px;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

#image-left{
    width: 15vmin;
    opacity: 0.35;
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}

#image-right{
    width: 15vmin;
    opacity: 0.35;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

#image-left:hover{
    opacity: 1;
}

#image-right:hover{
    opacity: 1;
}

.form-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 90vmin;
}

.form-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 16px;
    font-size: 22px;
    
}

.form-item>label{
    user-select: none;
    width: 25%;
    margin: auto;
    
}

.input{
    background-color: var(--color-bg);
    border: 1px solid transparent;
    border-radius: 10px/30px;
    outline:none;

    transition: all 0.2s ease-in-out;

    padding: 8px 16px;

    font-family: inherit;

    caret-color: var(--color-text);
    color: var(--color-text);
    font-size: 16px;

}

.input:focus, .input:hover{
    border: 1px solid var(--color-text);
}

.input::placeholder{
    color: var(--color-text);
    opacity: 0.35;
}

#input-name{
    width: 25%;
    min-width: 30vmin;
    margin: auto;
}

#input-email{
    width: 25%;
    min-width: 30vmin;
    margin: auto;
}

#input-message{
    height: 40vmin;
    width: 80%;
}


.form-button{
    width: 80%;
    border-width: 1px;
}

.form-button:hover{
    border-radius: 10px/30px;
    
}

.input-invalid{
    border-color: var(--color-warning);
}

.warning{
    color: var(--color-warning);
    font-size: 12px;
    background-color: var(--color-bg);
    padding: 10px 8px;
    border-radius: 0 0 5px 5px;
    display: none;

    
}

.visible{
    display: block;
}

.footer-wrap{
    position: absolute;
    left: 50%;
    bottom: 0;
    padding-top: 8px;
}

#footer{
    position: relative;
    display: flex;
    justify-content: center;
    
    left: -50%;
    
    padding-top: 8px;
    border-top: 1px solid var(--color-text);
}

#footer>a{
    margin-left: 16px;
    margin-right: 16px;
    font-size: 16px;


    transition: all 0.15s ease-out;
}

#footer>a:hover{
    letter-spacing: 2px;
}

@keyframes entry{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes gallery-entry{
    from{
       
        opacity: 0;
    }
    to{
       
        opacity: 1;
    }
}
